@model (IEnumerable<dstestproject.Storage.Entity.WeatherElement> list, IEnumerable<int> yearsInDatabase)
@{
    string modelStartMonth;
    bool modelListIsEmpty = Model.list.Count() < 1;
    bool monthsUsedMoreThanOne;


    if (!modelListIsEmpty)
    {
        var mu = Model.list
               .Select(weatherElement => weatherElement.Date.Month)
               .Distinct()
               .ToList();
        if (mu.Count > 1)
            monthsUsedMoreThanOne = true;
        else
            monthsUsedMoreThanOne = false;
    }
    else
        monthsUsedMoreThanOne = false;

    if (!modelListIsEmpty)
        modelStartMonth = Model.list.First().Date.Month switch
        {
            1 => "January",
            2 => "February",
            3 => "March",
            4 => "April",
            5 => "May",
            6 => "June",
            7 => "July",
            8 => "August",
            9 => "September",
            10 => "October",
            11 => "November",
            12 => "December"
        };
    else
        modelStartMonth = "January";

    ViewData["Title"] = "Weather archive browse";

    //Layout = null;
}

@section Styles {
    <style type="text/css">
    </style>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=radio][name=navigationMethod]').change(function () {
                if (this.value == 'month') {
                    $("#monthSelect").show();
                    $("#monthSelect").removeAttr('hidden');
                }
                else if (this.value == 'year') {
                    $("#monthSelect").hide();
                }
            });



            $("#yearSelect").val("@(modelListIsEmpty ? (Model.yearsInDatabase.Count() > 0 ? Model.yearsInDatabase.First() : DateTime.Now.Year) : Model.list.First().Date.Year)");

            $("#monthSelect").val("@modelStartMonth");

            $("#@(monthsUsedMoreThanOne? "radioYear" : "radioMonth")").prop("checked", true);

        });
    </script>
}

<h1 class="center">Просмотр архивов погоды</h1>
<table class="">
    <tr class="withoutborder">
        <td class="withoutborder">
            @using (Html.BeginForm("WeatherElementsList", "WeatherData", FormMethod.Get))
            {
                <table class="withoutborder">
                    <tr class="withoutborder">
                        <td class="withoutborder acrossinputradio" style="text-align: right">
                            за год <input type="radio" name="navigationMethod" value="year" id="radioYear" />
                        </td>
                        <td class="withoutborder">
                            <select class="input min-width-120" id="yearSelect" name="year">
                                @foreach (var year in Model.yearsInDatabase.OrderBy(y => y))
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </td>
                        <td class="withoutborder">

                        </td>
                    </tr>
                    <tr class="withoutborder">
                        <td class="withoutborder acrossinputradio" style="text-align: right">
                            за месяц <input type="radio" name="navigationMethod" value="month" id="radioMonth" checked />
                        </td>
                        <td class="withoutborder">
                            <select class="input min-width-120" id="monthSelect" @(monthsUsedMoreThanOne?"hidden=\"hidden\"":"") name="month">
                                <option value="January">Январь</option>
                                <option value="February">Февраль</option>
                                <option value="March">Март</option>
                                <option value="April">Апрель</option>
                                <option value="May">май</option>
                                <option value="June">Июнь</option>
                                <option value="July">Июль</option>
                                <option value="August">Август</option>
                                <option value="September">Сентябрь</option>
                                <option value="October">Октябрь</option>
                                <option value="November">Ноябрь</option>
                                <option value="December">Декабрь</option>
                            </select>
                        </td>
                        <td class="withoutborder">
                            <input class="input" type="submit" value="⭸" />
                        </td>
                    </tr>
                </table>
            }
        </td>
    <tr />
</table>


<div class="scrollable tableouterborder center maxh-700">

    <table class="table scrollable">
        <thead>
            <tr>
                <th>
                    дата
                </th>
                <th>
                    время<br />(МСК)
                </th>
                <th>
                    температура<br />воздуха, ℃
                </th>
                <th>
                    влажность<br/>воздуха, %
                </th>
                <th>
                    точка<br />росы, ℃
                </th>
                <th>
                    атм.<br />давление
                </th>
                <th>
                    ветер, м/с
                </th>
                <th>
                    облачность, %
                </th>
                <th>
                    нижняя граница<br />облачности, м
                </th>
                <th>
                    горизонтальная<br />видимость, км
                </th>
                <th class="textleft">
                    погодные явления
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelItem in Model.list)
            {
            <tr>
                <td>
                    @(modelItem.Date.ToShortDateString())
                </td>
                <td>
                    @(modelItem.Date.ToShortTimeString())
                </td>
                <td>
                    @(modelItem.TemperatureInteger)@(modelItem.TemperatureFractional==0?"":","+ modelItem.TemperatureFractional)    
                </td>
                <td>
                    @(modelItem.HumidityInteger)@(modelItem.HumidityFractional == 0 ? "" : "," + modelItem.HumidityFractional)
                </td>
                <td>
                    @(modelItem.DewPointInteger)@(modelItem.DewPointFractional == 0 ? "" : "," + modelItem.DewPointFractional)
                </td>
                <td>
                    @(modelItem.Pressure)
                </td>
                <td>
                    @(modelItem.WindSpeedInteger == 0 && modelItem.WindSpeedFractional == 0 ? "" : modelItem.WindSpeedInteger)@(modelItem.WindSpeedFractional == 0 ? "" : "," + modelItem.WindSpeedFractional)@(" " + modelItem.WindDirections)
                </td>
                <td>
                    @(modelItem.Cloudy)
                </td>
                <td>
                    @(modelItem.CloudHeight)
                </td>
                <td>
                    @(modelItem.HorizontalVisibilityInteger)@(modelItem.HorizontalVisibilityFractional == 0 ? "" : "," + modelItem.HorizontalVisibilityFractional)
                </td>
                <td class="textleft">
                    @(modelItem.WeatherPhenomenon)
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>